:root {
    --primary-color: #3d91b7;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
   font-family: sans-serif;
  }


  /* Whole homepage */
  #homepage {
    background: linear-gradient(rgba(61, 142, 180, 0.404), rgba(52, 141, 182, 0.281)), url(../img/bg.jpg);
    background-size: cover;
    color: white;
    background-attachment: fixed;
    height: 100vh;
  }
  
  /* header */
  header {
    background-color: var(--primary-color);
    padding: 20px 0;
    z-index: 1500;
    transition: all 0.5s;
    position: fixed;
    top: 0;
    width: 100%;
  }

  
  header::after {
    content: "";
    display: block;
    clear: both;
  }
  
  #homepage a {
    text-decoration: none;
    color: white;
  }
  
  header h1,
  nav ul > li {
    display: inline-block;
  }
  
  header h1 a {
    text-transform: uppercase;
    font-size: 1.5rem;
  }
  
  header nav a {
    padding: 15px;
    font-weight: 600;
  }
  
  header nav a:hover,
  .dropdown:hover > a {
    background-color: rgba(255, 255, 255, 0.203);
    color: rgb(19, 19, 31);
  }
  
  nav {
    float: right;
    margin-top: 4px;
  }
  
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  /* dropdowns (in header) */
  .dropdown > a {
    color: white !important;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-1 {
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 2px gray;
    top: 100px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    z-index: 1100;
  }
  
  .dropdown:hover .dropdown-1 {
    top: 32px;
    opacity: 1;
    visibility: visible;
  }
  
  .dropdown-1 li {
    display: block;
    min-width: 200px;
    margin: 15px;
  }
  
  .dropdown-1 a {
    color: black;
  }
  
  .dropdown-1 a:hover {
    color: var(--primary-color);
  }

  .fa-chevron-right {
    padding-left: 23px;
  }
  
  .deepdrop {
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 2px gray;
    top: 100px;
    right: 226px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    z-index: 1000;
  }
  
  .dropdown-1:hover .deepdrop {
    top: 50px;
    opacity: 1;
    visibility: visible;
  }


/* Welcome section (in homepage) */   
#container2 {
    text-align: center;
    margin: 35vh 40vh 40vh; 
    text-shadow: 500px;
    width: 60%;
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    opacity: 1;
    animation-name: welcome;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}

@keyframes welcome {
  from {
      margin-top: 80vh;
  }
  to { 
      margin-top: 35vh;
  }

  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#container2 h1 {
    font-size: 64px;
    line-height: 56px;
    
}

#container2 h2 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}


#scrolldown {
    position: relative;
    top: 40px;
    font-size: 50px;
    transition: top 0.7s;
    transition-timing-function: linear;
}


#scrolldown:hover {
    top: 70px;   
}


/* main */

main {
  background-color: white;
}

main a {
  text-decoration: none;
}

main i {
  color: var(--primary-color);
  font-size: 35px;

}

section {
  overflow: hidden;
}

/* about us */
.aboutus {
  background: linear-gradient(rgba(244, 251, 253, 0.623), rgba(249, 251, 252, 0.582)), url(../img/about-bg.jpg);
  background-size: cover;
  padding: 50px 0;
  position: relative;
  width: 100%;
  height: 95vh;
}

.aboutus h1,
.aboutus h3 {
  color:rgb(27, 74, 95);
  padding-bottom: 10px;

}

.aboutus a {
  display: inline-block;
}

/* main container about us  */
.maincontainer {
  position: relative;
  width: 80%; 
  margin: 0 auto;
  padding-top: 60px;
  display: flex;
  flex: wrap;
  line-height: 25px;
}

.maincontainer button {
  color: white;
  background-color: var(--primary-color);
  border-radius: 30px;
  border: none;
  font-size: 1rem;
  padding : 10px 30px;
  font-weight:lighter;
  transition: all 0.3s ease-in-out;
}

.maincontainer button>i {
  color: white !important;
  font-weight: lighter;
  font-size: 0.9rem;
  padding-left: 10px;
}


.maincontainer button:hover {
  opacity: 0.5;
}

/* item 1 of maincontainer  */

.item1 {
  width: 35%;
  padding: 25 25 25 0;
  margin-right: 45px;
  margin-top: 20px;   
}

.item1 p {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: justify;
}

.item1 h1 {
  font-size: xx-large;
}

/* minicontainer (inside maincontainer) */
.minicontainer p {
  color: gray;
}

.item2,
.item3,
.item4,
.item5 {
  /* width: 40%; */
  padding-bottom: 20px;
  box-sizing:border-box;
}

.minicontainer {
  display: flex;
  flex: wrap;
  gap: 10px;
  box-sizing:border-box;
  margin-left: 20px;
}

/* services */

.services {
  position: relative;
  width: 80%; 
  height: 70vh;
  margin: 0 auto;
  padding-top: 40px;
  margin-bottom: 60px;
  display: flex;
  flex: wrap;
  line-height: 25px;
}

.services img {
  height: 90px;
  width: 180px;
}

.services p {
  color: gray;
}

.services h3 {
  color:rgb(27, 74, 95);
  padding-bottom: 10px;
}

.s-container1 {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}

.s-container2 {
  display: flex;
  flex: wrap;
  gap: 10px;
  box-sizing:border-box;
  margin: 0 auto;
  text-align:center;
  justify-content: space-between;
}

.s-item1,
.s-item2,
.s-item3,
.s-item4 {
  width: 30%;
  padding: 30px;
  box-sizing:border-box;
  box-shadow: 0 0 30px 0 rgba(60, 78, 128, 0.12);
  position: relative;
  overflow: hidden;
  z-index: 10;
  background-color: white;
  border-radius: 10px;

}

.s-item1::after,
.s-item2::after,
.s-item3::after,
.s-item4::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  z-index: -1;
  transition: all 0.5s;
  background-color: var(--primary-color);
}

.s-item1:hover::after,
.s-item2:hover::after,
.s-item3:hover::after,
.s-item4:hover::after {
  top:0;
}


s-container2:hover i {
  color: white !important;
}

s-container2 h3,
s-container2 p {
  color:white !important;
}

/* numbers */

.numbers {
  display: flex;
  flex: wrap;
  gap: 10px;
  box-sizing:border-box;
  margin: 0 auto;
  text-align:center;
  justify-content: space-between;
  background-color: rgba(193, 222, 231, 0.219);
  padding-top: 40px;
  padding-bottom: 40px;
}

.number {
    width: 30%;
    padding: 30px;
    box-sizing:border-box;
    position: relative;
    overflow: hidden;
    z-index: 10;
    background-color: transparent;
    border: none; 
    font-size:large;
}

.numbers i {
  display: inline;
}

.numbers h1 {
  color:rgb(21, 40, 49);
}

.numbers h3 {
  color:rgba(24, 47, 58, 0.918)
}

.numbers p {
  color: gray;
}

/* call to action */

.callcontainer {
  margin: 0 auto;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px; 
  
}

.call {
  position: relative;
  width: 100%;
  height: 40vh; 
  margin: 0 auto;
  padding-top: 10px;
  line-height: 25px;
  color: white;
  background: linear-gradient(rgba(72, 162, 204, 0.582), rgba(52, 141, 182, 0.281)), url(../img/cta-bg.jpg);
  background-size: cover;
  background-attachment: scroll;
}

.callcontainer button {
  color: white;
  background-color: transparent;
  border-radius: 30px;
  border: white;
  border-style: solid;
  font-size: 1rem;
  padding : 10px 30px;
  font-weight:lighter;
  transition: all 0.3s ease-in-out;
}

.callcontainer a {
  display: inline-block;
}

.callcontainer button:hover {
  opacity: 0.5;
}

.callcontainer h1,
.callcontainer p,
.callcontainer button {
  padding-bottom: 20px;
}

/* Portfolio */

.portfolio {
  margin: 0 auto;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px; 
  
}

.portfolio {
  position: relative;
  width: 100%;
  height: 180vh; 
  margin: 0 auto;
  padding-top: 40px;
  line-height: 25px;
}

.portfolio button {
  background-color:  rgba(209, 231, 238, 0.849);
  border-radius: 70px;
  padding: 20px;
  border: white;
  border-style: solid;
  font-size: 1rem;
  padding : 10px 30px;
  margin-bottom: 30px;
  margin-top: 15px;
  font-weight:lighter;
  transition: all 0.3s ease-in-out;
  font-weight: 550;
}

.button1 a:hover {
  color: rgb(101, 216, 216);
}

.portfolio a {
  color: rgb(68, 133, 163);
  padding: 10px;
}

.p-title {
  background-image: url(../img/section-title-bg.png);
  background-repeat: no-repeat;
  height: 70px;
  width: 18vh;
  padding-bottom: 80px;
  margin: 0 auto;
  text-align: center;
}

.p-title h1 {
  color:rgb(36, 66, 80);
  padding-top: 20px;
  font-size: 30px;
}


/* Portfolio gallery  */
.p-gallery {
width: 1000px;
height: 900px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin: 0 auto;
text-align: center;
row-gap: 30px;
column-gap: 30px;
position: relative;
}

.gallery-item {
  width: 300px;
  height: 250px;
  align-content: space-between;
  position: relative;
}

.p-gallery img {
width: 300px;
height: 250px;
transition: all ease-in-out 0.3s;
z-index: 1;
opacity: 1; 
}

.gallery-item:hover {
  opacity: 0.5;
  visibility: visible;
}

.ban-img {
  background-color:rgba(92, 152, 180, 0.281);
  box-sizing: border-box;
  z-index: 2;
  position: relative;
  bottom: 33px;
  visibility:hidden;
}


/* TESTIMONIALS  */

.testimonials {
  margin: 0 auto;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px; 
  position: relative;
  width: 100%;
  height: 105vh; 
  margin: 0 auto;
  padding-top: 50px;
  line-height: 25px;
  background-color:rgba(224, 234, 239, 0.281);
}

.t-title {
  background-image: url(../img/section-title-bg.png);
  background-repeat: no-repeat;
  height: 70px;
  width: 22vh;
  padding-bottom: 80px;
  margin: 0 auto;
  text-align: center;

}

.t-title h1 {
  color:rgb(36, 66, 80);
  padding-top: 20px;
  font-size: 30px;
}


.t-containers {
  position: relative;
  width: 90%; 
  height: 70vh;
  margin: 0 auto;
  padding-top: 40px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  line-height: 25px;
  background-color: transparent;
}


.t-presentation {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.t-containers img {
  margin: 0 auto;
  width: 80px;
  border-radius: 50%;
 
}

.t-quote {
  box-sizing:border-box;
  box-shadow: 0 0 50px 0 rgba(60, 78, 128, 0.12);
  background-color: white;
  color: gray;
  margin-bottom: 20px;
}



.t-containers h3 {
  color:rgb(27, 74, 95);
  padding-bottom: 10px;
}



.t {
  width: 400px;
  padding: 30px;

  position: relative;
  overflow: hidden;
  z-index: 10;
  background-color: transparent;
  border-radius: 10px;
}


/* Team */

.team {
  margin: 0 auto;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px; 
  position: relative;
  width: 100%;
  height: 105vh; 
  margin: 0 auto;
  padding-top: 50px;
  line-height: 25px;
  background-color:rgba(224, 234, 239, 0.281);
}

.tm-title {
  background-image: url(../img/section-title-bg.png);
  background-repeat: no-repeat;
  height: 70px;
  width: 22vh;
  padding-bottom: 80px;
  margin: 0 auto;
  text-align: center;

}

.tm-title h1 {
  color:rgb(36, 66, 80);
  padding-top: 20px;
  font-size: 30px;
}

tm-presentation p {
  margin-bottom: 30px;
  color: gray;
}

.tm-presentation {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}


.tm-containers {
  /* position: relative; */
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  line-height: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.amember {
  width: 25%;

}

.tm-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
  text-align: center;

}

.tm-photos img {
  width: 30%;
  margin-top: 2%;
  margin-bottom: 0%;
  z-index: 0;
}

hr {
  width: 70px;
  margin: 0 auto;
  text-align: center;
}

.tm-details {
  background-color: white;
  box-sizing:border-box;
  box-shadow: 0 0 50px 0 rgba(53, 69, 113, 0.12);
  background-color: white;
  color: rgb(27, 74, 95);
  padding: 10px 30px;
  width: 23%;
  margin: 0 auto;
  text-align: center; 
  height: 65px;
  transition: height 0.5s ease-in-out;
  overflow: hidden;
  z-index: 1;
  position: relative;
  bottom: 40%;

}

.tm-big-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 100px;

}

.socials i {
  font-size: 1em;
  padding: 0;
  margin: 0 auto;
}

.tm-details:hover {
  height: 100px;
  
}

/* contact */
.contact {
  margin: 0 auto;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px; 
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  line-height: 25px;
  background-color:rgba(224, 234, 239, 0.281);
}

.ct-title {
  background-image: url(../img/section-title-bg.png);
  background-repeat: no-repeat;
  height: 70px;
  width: 22vh;
  padding-bottom: 80px;
  margin: 0 auto;
  text-align: center;

}

.ct-title h1 {
  color:rgb(36, 66, 80);
  padding-top: 20px;
  font-size: 30px;
}

ct-presentation p {
  margin-bottom: 30px;
  color: gray;
}

.ct-presentation {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.ct-containers {
  /* position: relative; */
  width: 100%;
  margin: 5% 5%;
  line-height: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}

.ct-details {
  background-color: white;
  box-sizing:border-box;
  box-shadow: 0 0 50px 0 rgba(53, 69, 113, 0.12);
  background-color: white;
  color: rgb(27, 74, 95);
  padding: 30px 30px;
  width: 23%;
  transition: height 0.5s ease-in-out;
  overflow: hidden;
  z-index: 1;
  position: relative;
  bottom: 40%;
}

.ct-details:first-child {
  width: 35% !important;
}

.contact i {
  font-size: 2em;
  padding: 0;
  margin: 0 auto;
  color: rgb(101, 216, 216);
}

/* map and form */
.mf-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 80vh;
}

.map {
  width: 10%;
  margin-left: 10vh;
  padding: 0;
}



.form {
  width: 40%;
  box-shadow: 0 0 50px 0 rgba(53, 69, 113, 0.12);
  background-color: white;
  padding-top: 10vh;
}

.send-button {
  background-color: rgb(101, 216, 216);
  color: white;
  font-size: 1em;
  padding: 10px 40px;
  margin-top: 20px;
  border: none;
}

input[type=text] {
  border: 2px solid rgb(210, 208, 211);
  padding-bottom: 2vh;
  font-size: 1em;
  margin-bottom: 10px;
  padding-right: 10vh;
}

#message {
  padding-bottom: 10vh;
}















